.fa-brands{
    padding-right: 3px;
}

.skills li{
    font-size: 120%;
    padding-right: 7px;
    margin: 0 3px;
}

.home-div {
    text-align: center;
}

.home-div li {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}

.home-div ul {
    display: flex;
}